<div *ngIf="!quizFinished; else resultTemplate" class="card shadow p-4">
  <h5>Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}</h5>
  <p class="fw-bold">{{ questions[currentQuestionIndex].question }}</p>

  <div class="list-group mb-3">
    <button
      *ngFor="
        let option of questions[currentQuestionIndex].options;
        let i = index
      "
      (click)="selectAnswer(i)"
      [ngClass]="{
        'list-group-item-success':answerChecked && i==questions[currentQuestionIndex].answer,
        'list-group-item-danger':answerChecked && i==selectOptionIndex && i!==questions[currentQuestionIndex].answer
      }"


      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {{ option }}

      <span *ngIf="answerChecked && i===questions[currentQuestionIndex].answer" class="'text-success fw-bold"></span>
      <span *ngIf="answerChecked && i===selectOptionIndex&& i!==questions[currentQuestionIndex].answer" class="text-danger fw-bold"></span>
    </button>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-3">
    <button class="btn btn-secondary" (click)="prevQuestion()" [disabled]="currentQuestionIndex===0"
    >Prev</button>

    <span class="badge bg-primary p-2"> Time left:{{ timer }} sec</span>

    <button class="btn btn-primary" (click)="nextQuestion()"
      >
        Next
    </button>
  </div>
</div>
<ng-template #resultTemplate>
  <div class="card shadow p-4 text-center">
    <h3>🎉🎉🎉Quiz Finished yayy! 🎉🎉🎉</h3>
    <p>
      Your score: <strong>{{ score }}/{{ questions.length }}</strong>
    </p>
    <button
      class="btn btn-primary"
      (click)="
        currentQuestionIndex = 0; score = 0; quizFinished = false; startTimer()">restart quiz</button>
  </div>
</ng-template>
